@tailwind base;
@tailwind components;
@tailwind utilities;




/* RESET CRÍTICO */
html,
body,
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  @apply font-sans;

}


/* Fade in */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out forwards;
}


/************************
/* Gradiente animado */

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

/************************
/* Hero puntos */

/* Fondo de puntos */
.dots-background {
  background-image: radial-gradient(#ffffff 1px, transparent 1px);
  background-size: 40px 40px;
  opacity: 0.15;
}


/* Movimiento sutil */
@keyframes dots-move {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100px 100px;
  }
}

.animate-dots {
  animation: dots-move 20s linear infinite;
}


/***************************
Clientes en movimento
*/
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 14s linear infinite;   
}

/*
.input {
  @apply w-full px-4 py-3 rounded-lg
  bg-zinc-100 dark:bg-zinc-800
  text-zinc-900 dark:text-white
  placeholder:text-zinc-500
  focus:outline-none focus:ring-2 focus:ring-pink-900
  transition;
}
*/

.input {
  @apply border border-zinc-200 rounded-lg px-4 py-3
  focus:outline-none focus:ring-2 focus:ring-pink-800
  transition-all;
}
